$primary-color: #00ffff;
$secundary-color: #ff6600;
$background: #101010;

.proyect-card{
    display: flex;
    position: relative;
    flex-direction: column;

    overflow: hidden;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;

    .card__img{
        height: 100%;
        background-color: inherit;

        img{
            width: 100%;
        }
    }

    button{
        position: relative;
        bottom: 0;
        padding: 5px 10px;
        margin-left: auto;
        margin-right: auto;
        opacity: 100;
        background-color: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;

        transition: 0.5s;

        &:hover{
            background-color: $secundary-color;
            border-color: $secundary-color;
            color: white;
        }
    }

    .card__links{
        display: flex;
        position: relative;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        transition: 0.5s;

        a{
            &:hover{
                img{
                    filter: drop-shadow(0 0 2px white) invert(0%);
                }
            }
        }

        img{
            width: 40px;
            height: 40px;
            margin: 20px;
            filter: drop-shadow(0 0 2px white) invert(100%);
        }
    }
     
    .card__text{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45%;
        background-color: #444;
        color: white;
        outline: 1px solid #222;

        transition: 0.5s;

        .card__name{
            line-height: 30px;
            padding-top: 10px;
        }

        .card__description{
            margin: 10px 30px;
            color: #ccc;
            font-size: 13px;
        }

        .card__btn-more{
            position: relative;
            z-index: 100;
            font-size: 12px;
            padding: 5px 10px;
            color: $primary-color;

            &:after{
                content: "";
                position: absolute;
                top: -1px;
                left: -1px;
                width: 0;
                height: 0;
                opacity: 0;
                border-left: 1px solid $primary-color;
                border-top: 1px solid $primary-color;
                transition: 0.5s;
            }

            &:before{
                content: "";
                position: absolute;
                bottom: -1px;
                right: -1px;
                width: 0;
                height: 0;
                opacity: 0;
                border-right: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
                transition: 0.5s;
            }

            &:hover{

                &:after{
                    width: 100%;
                    height: 100%;
                    opacity: 100%;
                    transition: 0.5s;
                }

                &:before{
                    width: 100%;
                    height: 100%;
                    opacity: 100%;
                    transition: 0.5s;
                }
            }
        }
    }

    &:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 5px 5px #0005;
        transition: 0.5s;

        .card__img{
            img{
                filter: blur(2px);
            }
        }

        .card__links{
            top: -55%;
            transition: 0.5s;
        }
    }

    @media screen and (max-width: 768px) {
        margin: 10px;
        .card__text{height: 50%}
    }

    @media screen and (max-width: 500px) {

    }
}