.proyect-card{
    background-color: green;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius: 15px;
}

.card__img{
    background-color: red;

    flex-grow: 1;
}
 
.card__text{
    background-color: blue;
}

.card__name{
    line-height: 40px;
}

.card__description{
    overflow: hidden;
    height: 0px;
    transition: 0.5s;
}

.proyect-card:hover .card__description{
    height: 100px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}