:root{
    --color: #0ff;
}

.home{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.home-text{
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 60px;
}

.home-text__container{
    position: relative;
    left: -30px;
    opacity: 0%;
    animation: 2s ease both text;
    -webkit-animation: 2s ease both text;
}

.home-text__container h2{
    font-size: 70px;
}

.home-text__container p:nth-child(2){
    font-size: 40px;
}

.home-text__container p:nth-child(3){
    font-size: 30px;
}

.home-text__container p:nth-child(4){
    font-size: 20px;
    width: 80%;
}

.home-text__container button{
    font-size: 25px;
    padding: 5px 10px;
    margin-top: 30px;
    background-color: inherit;

    color: var(--color);
    border-color: var(--color);
    transition: 0.2s;   

}

.home-text__container button:hover{
    background-color: var(--color);
    color: white;
    transition: 0.2s;   
}

.home-img{
    display: flex;
    position: relative;
    align-items: center;
    padding: 10vh;
    animation: 2s ease both img;
    -webkit-animation: 2s ease both img;
}

.home-img__container{
    background-color:  var(--color);;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}

@keyframes text{
    0%{
        left: -80px;
        opacity: 0%;
    }
    100%{
        left: 0;
        opacity: 100%;
    }
}

@keyframes img{
    0%{
        right: -30px;
        opacity: 0%;
    }
    100%{
        right: 0;
        opacity: 100%;
    }
}