@use './var.scss';

#home {
  display: flex;
  height: 100vh;
  padding: 0 50px;
  overflow: hidden;

  .wave, .wave2{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 250px;
    width: 100%;
  }
  
  .wave{
    z-index: 20;
    fill: var.$secundary-color;
  }

  .wave2{
    z-index: 10;
    fill: #ffffff25;
  }

  .arrow-dowm{
    position: absolute;
    z-index: 100;
    bottom: 5vw;
    left: 0;
    width: 100%;
    height: 30px;
    fill: var.$primary-color;
    filter: drop-shadow(0 0 5px black);
    overflow:visible;

    path{
      animation: 0.5s ease-in infinite alternate arrow;

      @keyframes arrow{
        0% {
          transform: translateY(0px) scaleY(1);
        }
        80% {
          transform: translateY(200px) scaleY(1);
        }
        100% {
          transform: translateY(300px) scaleY(0.8);
        }
      }
    }
  }

  .home-text {
    display: flex;
    position: relative;
    z-index: 100;
    flex-grow: 1;

    align-items: center;
    justify-content: center;
    text-align: left;

    .home-text__container {

      h2, p {transition: 0.5s}
      h2 {
        color: var.$primary-color;
        font-size: 60px;

        b {
          border-right: 4px solid white;
          animation: 0.6s infinite alternate machine;
          animation-timing-function: steps(2, end);
        }

        @keyframes machine {
          0% {
            border-color: transparent;
          }
          100% {
            border-color: white;
          }
        }
      }

      p:nth-child(2) {
        font-size: 60px;
      }

      p:nth-child(3) {
        font-size: 35px;
        color: var.$secundary-color;
      }

      .home-btn-contact {
        display: inline-block;
        position: relative;
        font-size: 20px;
        margin-top: 50px;
        padding: 10px 20px;
        overflow: hidden;
        text-decoration: none;
        border: 1px solid var.$primary-color;
        color: var.$primary-color;
        background-color: transparent;
        transition: 0.5s;

        &:hover {
          color: var.$background;
          transition: 0.5s;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -140%;
          width: 140%;
          height: 100%;
          border-radius: 0 0 80px 0;
          text-align: center;
          background-color: var.$primary-color;
          color: var.$background;
          transition: 0.5s;
        }

        &:after {
          content: "CONTACT ME";
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 18px;
          opacity: 0%;
          color: var.$background;
          font-weight: bold;
          transition: 0.5s;
        }

        &:hover:before {
          left: 0;
          transition: 0.5s;
        }

        &:hover:after {
          opacity: 100%;
          transition: 0.5s;
        }
      }
    }
  }

  .home-img {
    display: flex;
    position: relative;
    z-index: 100;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .home-img__transform {
      width: 30vw;
      height: 30vw;
      max-width: 500px;
      max-height: 500px;
      margin-left: 100px;
      overflow: hidden;
      background: linear-gradient(135deg, var.$primary-color, var.$secundary-color );
      animation: 30s ease infinite imgBack;

      @keyframes imgBack {
        0% {
          border-radius: 70% 30% 46% 54% / 42% 27% 73% 58% ;
        }
        25% {
          border-radius: 34% 66% 58% 42% / 35% 54% 46% 65% ;
        }
        50% {
          border-radius: 50% 50% 58% 42% / 70% 48% 52% 30%;
        }
        75% {
          border-radius: 54% 46% 25% 75% / 49% 75% 25% 51%;
        }
        100% {
          border-radius: 70% 30% 46% 54% / 42% 27% 73% 58%;
        }
      }
    }

    .home-img__container {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1400px){
    .home-text{
      .home-text__container { 
        h2, p:nth-child(2) {font-size: 40px;}
        p:nth-child(3) {font-size: 25px;}
      .home-btn-contact {
        margin-top: 20px;
        padding: 8px 16px;
        font-size: 13px;
        &:after{
          padding: 8px 15px;
        }
      }
      }
    }
    .arrow-dowm{
      height: 20px;
    }
    
    .wave, .wave2{
      height: 150px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;

    .home-text {
      flex-grow: 0;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;

      .home-text__container {
        left: 0;

        h2 {
          font-size: 35px;
        }

        p:nth-child(2) {
          font-size: 20px;
        }

        p:nth-child(3) {
          font-size: 20px;
        }

        p:nth-child(4) {
          font-size: 12px;
          padding: 10px;
        }

        .home-btn-contact {
          margin-top: 10px;
          font-size: 12px;
        }
      }
    }

    .home-img {
      padding: 0;
      flex-grow: 0;
      padding-bottom: 20px;

      .home-img__transform {
        width: 50vw;
        height: 50vw;
        margin-left: 0;
      }
    }
    
    .home-text{
      margin-bottom: 50px;
    }

    .arrow-dowm{
      bottom: 20vw;
    }

    .wave, .wave2{
      left: -50vw;
      width: 200vw;
      height: 200px;
    }
  }
}