:root{
    --size: 60px;
}

.nav-container{
    position: fixed;
    width: 100%;
    background-color: #000a;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);

    z-index: 100;
}

nav{
    display: flex;
    height: var(--size);
}

.nav-title{
    flex-grow: 1;
    text-align: left;
    line-height: var(--size);
    margin-left: 20px;
}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
}

.nav-link:hover{
    background-color: #fff2;
    border-bottom: 2px solid blue;
}