$size: 60px;
$primary-color: #00ffff;
$secundary-color: #ff6600;
$background: #101010;

.nav-container{
    position: fixed;
    z-index: 150;
    width: 100vw;
    height: $size;
    background-color: #101010aa;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    ul{
        .nav-icon{display: none}
        .nav-arrow{display: none}
        display: flex;
        justify-content: center;

        li{
            display: flex;
            align-items: center;

            a{
                display: flex;
                position: relative;
                align-items: center;
                height: $size;
                text-decoration: none;
                color: white;
                font-size: 15px;
                padding: 0 20px;
                transition: 0.1s;

                animation-name: menu;
                animation-duration: 2s;
                animation-fill-mode: forwards;

                @keyframes menu{
                    0% {
                        top: -50%;
                        opacity: 0;
                    }
                    100% {
                        top: 0;
                        opacity: 100%;
                    }
                }

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 0;
                    height: 100%;
                    border-bottom: 1px solid $primary-color;
                    transition: 0.5s;
                }

                &:hover{
                    color: $primary-color;
                    &:before{
                    left: 0;
                    width: 100%;
                    transition: 0.2s;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1400px) {
        height: 40px;
        ul{
            li a{
                padding: 0 15px;
                height: 40px;
                font-size: 13px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;
        transition: 0.5s;

        ul{
            flex-direction: column;

            .nav-icon{
                display: inline-block;
                text-align: right;

                img{
                    width: 35px;
                    height: 35px;
                    margin: 10px;
                }
            }

            img{
                width: 20px;
                height: 20px;
                margin: 5px;
                filter: invert(100%);
            }

            li{
                text-align: center;

                a{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    animation-fill-mode: forwards;
                    animation-direction: reverse;
                    animation-name: textreverse;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-in;
                }
            }

            .nav-arrow{
                display: inline-block;
                margin-top: 20px;
                flex-grow: 1;

                img{
                    position: relative;
                    top: 50px;
                }
            }
        }

        &:hover{
            height: 320px;
            border-radius: 0px 0px 40px 40px;
            background-color: #000a;
    
            ul li a{
                animation-name: text;
                animation-duration: 1s;
                animation-direction: normal;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
            }
    
            
            .nav-arrow{
                img{
                    animation-name: arrow;
                    animation-duration: 0.5s;
                    animation-delay: 0.5s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

@keyframes text{
    0% {
        left: -50px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 100%;
    }
}

@keyframes textreverse{
    0% {
        left: -50px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 100%;
    }
}

@keyframes arrow{
    0% {
        top: 50px;
        transform: scaleY(1.5);
    }

    30% {
        transform: scaleY(1.5);
        top: 0;
    }

    70% {
        transform: scaleY(0.5);
    }

    100% {
        top: 0;
        transform: scaleY(1);
    }
}