@use './var.scss';

#proyects-container{
    background-color: var.$secundary-color;
    padding: 100px 10px;

    h2{
        font-size: 40px;
        margin:30px;
    }

    .proyects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 768px) {

        h2{
            font-size: 30px;
            margin: 0;
            margin-top: 20px;
        }

        .proyects{
            padding: 20px;
        }
    }
}