.proyects-container{
    background-color: #222;
    padding: 10px;
}

.proyects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.proyects-container h2{
    font-size: 40px;
    margin:30px;
}