@use "./var.scss";

#skills {
  padding: 20px;
  background-color: #333;

  h2 {
    font-size: 40px;
    margin: 30px;
  }

  .skills__container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: min-content;
    gap: 50px;

    .icon {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      background: linear-gradient(
        135deg,
        var.$primary-color,
        var.$secundary-color 70%
      );
      border-radius: 15px;
      transition: 0.5s;

      img {
        position: relative;
        z-index: 150;
        text-align: center;
        width: 70%;
        height: 70%;
        transition: 0.2s;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: 1s;
      }
      &:after {
        top: -25%;
        left: -25%;
        width: 150%;
        height: 150%;
        transition: 0.2s;
      }
      &:hover {
        transform: scale(1.1);
        transition: 0.2s;

        &:after {
          top: -25%;
          left: -25%;
          width: 150%;
          height: 150%;
          transition: 0.2s;
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
      }
    }
  }
}

.icon-js:after {
  background-color: #f0db4f;
}
.icon-css:after {
  background-color: #1b73ba;
}
.icon-html:after {
  background-color: #e34f26;
}

.icon-node {

    &:after {
      background-color: #8cc84b;
    }

/*     &:hover{ */
        img{
            filter: brightness(0) invert(100%);
        }
/*     } */
}

.icon-sass {

    &:after {
      background-color: #CF649A;
    }

/*     &:hover{ */
        img{
            filter: brightness(0) invert(100%);
        }
/*     } */
}

.icon-react {

    &:after {
      background-color: #61dafb;
    }

/*     &:hover{ */
        img{
            filter: brightness(0) invert(100%);
        }
/*     } */
}
