@use './keyframes.scss';
$time: 1s;

.top{
    position: relative;
    animation: $time toTop;
}

.bottom{
    position: relative;
    animation: $time toBottom;
}

.right{
    position: relative;
    animation: $time toRight;
}

.left{
    position: relative;
    animation: $time toLeft;
}

.arrowAnimation{
    position: relative;
    animation: 0.8s ease-in arrow infinite alternate;
}

.borderTransform{
    animation: 20s ease infinite imgBack;
}
